body{overflow-x:hidden}
::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  background-color: #191b20;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-image: linear-gradient(to left, #1991eb, #2ea1f8);
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #191b20;
}